.profile_description {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.my_avatar {
    grid-column: 1/2;
    width: 100%;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid black;
}

.description {
    align-self: center;
    margin-left: 25px;
}