.navbar_wrapper {
    text-align: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
}

.navbar_item {
    margin: 10px 0 10px 0;
}

.navbar_item a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #1da1f2;
}

a.activeLink {
    color: #1da1f2;
}

.navbar_links_block {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.navbar_friends_block {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.navbar_friend_item {
    border-radius: 10px;
    height: 80px;
    padding: 5px;
    margin: 10px;
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar_friend_item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar_friend_avatar {
    width: 100%;
}

.navbar_friend_status_on {
    color: green;
}

.navbar_friend_status_off {
    color: red;
}




