.navbar_wrapper {
    border: red solid 1px;
    text-align: center;
}

.navbar_item {
    margin: 10px 0 10px 0;
}

.navbar_item a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: orangered;
}

a.activeLink {
    color: orangered;
}




